body {
  color: lightslategray;
}

blockquote {
  background-color: rgba(0, 12, 24, 0.05);
}

a {
  border: 1px dashed red;
}

em {
  color: darkred;
}

.variant-em {
  background-color: greenyellow;
  color: #000;
  font-weight: bold;
  

}

.content1 {
  font-style: italic;
}

ul {
  
  background-color: unset;
}

ul li {
  color: rgb(221, 19, 19);
  padding: 16px;
}

.link1 a {
  
}

.link2 a {
  padding: initial;
  color: initial;
}

.link3 a {
  color: unset;
  padding: unset;
}
